/* Expense table */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

/* Alternating row colors */

tr:nth-child(even) {
    background-color: #f2f2f2;
}